/**** @each  ****/
$core-texts : (red-text 'red') (blue-text 'blue') (yellow-text 'yellow');

//placeholder
%core-text-base {
  font-family : 'roboto', sans-serif; 
  font-size: 18px;
  line-height: 20px;
}

//each with nth
@each $core-text in $core-texts {
  .core-nth-#{nth($core-text,1)} {
    @extend %core-text-base;
    color: #{nth($core-text,2)};
  }
}

//each with vars (better way)
@each $name , $color in $core-texts {
  .core-var-#{$name} {
    @extend %core-text-base;
    color: $color;
  }
}

/**** @for ****/
@mixin spans($cols) {
  $col-val : length($cols);
  @for $i from 1 to $col-val {
    .span-#{nth($cols , $i)} {
      width : percentage(1/$col-val) * $i;
      
    }
  }
}
//reverse
@mixin spans($cols) {
  $col-val : length($cols);
  @for $i from $col-val through 1 {
    .span-reverse-#{nth($cols , $i)} {
      width : percentage(1/$col-val) * $i;
      
    }
  }
}

@include spans(one two three four);

/**** @content ****/
//1
@mixin foo($display, $selector){
  color : red;
  display : $display;
  & #{$selector} {
    @content;
  }
}

.block {
  @include foo(block, '.foo'){
    color : blue;
  }
}

//2
@mixin car($selector){
  color : black;
  seats : 4;
  doors : 4;
  @if $selector == '.van' {
    & #{$selector}{
      seats : 6;
      doors : 6;
      @content;
    }
  } @else {
    & #{$selector}{
      @content;
    }
  }
}

.my-car {
  @include car('.van'){
    color: red;
  }
  engine : diesel;
}
